<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="declaration">
	<resultMap id="declarationMap" type="report">
		<id column="DECLARATION_NO" property="reportNo"/>
		<result column="DECLARATION_CONTENT" property="incidentDetails"/>
		<result column="DECLARATION_CATEGORY" property="reportType"/>
		<result column="DECLARATION_SIDO" property="sido"/>
		<result column="DECLARATION_GUNGU" property="gungu"/>
		<result column="DECLARATION_DONG" property="dong"/>
		<result column="DECLARATION_DETAIL" property="incidentAddress"/>
		<result column="DECLARATION_DATE" property="incidentTime" typeHandler="localDateTimeHandler"/>
		<result column="DECLARATION_STATUS" property="status"/>
		<result column="DECLARATION_INSERTDATE" property="declarationInsertDate"/>
		<association property="reporter" resultMap="reporterMap"/>
		<collection property="attackers" ofType="attacker">
			<id column="attacker_no" property="attackerNo"/>
			<result column="attacker_name" property="attackerName"/>
			<result column="attacker_address" property="attackerAddress"/>
			<result column="attacker_phone" property="attackerContact"/>
			<result column="attacker_school" property="attackerSchool"/>
			<result column="attacker_gender" property="attackerGender"/>
			<result column="attacker_info" property="attackerInfo"/>
		</collection>
		<collection property="files" ofType="declarationAttach">
			<id column="DECLARATION_ATTACHMENT_NO" property="declarationAttachmentNo"/>
			<result column="ATTACHMENT_RENAME" property="declarationAttachmentRename"/>
			<result column="ATTACHMENT_ORIGINALNAME" property="declarationAttachmentOriginalName"/>
			<result column="DECLARATION_NO" property="declarationNo"/>
		</collection>
	</resultMap>		
	<resultMap id="reporterMap" type="reporter">
		<id column="REPORTER_NO" property="reporterNo"/>
		<result column="REPORTER_NAME" property="reporterName"/>
		<result column="REPORTER_EMAIL" property="reporterEmail"/>
		<result column="REPORTER_PHONE" property="reporterPhone"/>
		<result column="REPORTER_PASSWORD" property="reporterPassword"/>
		<result column="REPORTER_SCHOOL" property="reporterSchool"/>
	</resultMap>
	
	<insert id="insertDeclaration" parameterType="report">
		INSERT INTO DECLARATION VALUES(SEQ_DECLARATION_NO.NEXTVAL, #{incidentDetails},
		#{reportType},#{sido},#{gungu},#{dong},#{incidentAddress},
		#{incidentTime},#{status},#{reporter.reporterNo},SYSDATE)
		<selectKey keyProperty="reportNo" order="AFTER" resultType="_long">
			SELECT SEQ_DECLARATION_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertReporter" parameterType="reporter">
		INSERT INTO REPORTER_INFO VALUES(SEQ_REPORTER_NO.NEXTVAL,#{reporterName},#{reporterEmail},
			#{reporterPhone},#{reporterPassword},#{reporterSchool})
		<selectKey keyProperty="reporterNo" order="AFTER" resultType="_long">
			SELECT SEQ_REPORTER_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertAttacker" parameterType="attacker">
		INSERT INTO ATTACKER VALUES(SEQ_ATTACKER_NO.NEXTVAL,
		#{attackerName},#{attackerAddress},#{attackerContact},
		#{attackerInfo},#{declarationNo},#{attackerSchool},#{attackerGender})
	</insert>
	<insert id="insertAttachment" parameterType="declarationAttach">
		INSERT INTO DECLARATION_ATTACHMENT VALUES(SEQ_DECLARATION_ATTACHMENT_NO.NEXTVAL,
		#{declarationAttachmentRename},#{declarationAttachmentOriginalName},#{declarationNo})
	</insert>
	
	<select id="searchReportAreaPolice" parameterType="map" resultType="map">
		SELECT POLICE_NO,POLICE_EMAIL FROM POLICE JOIN POLICESTATION USING (POLICESTATION_NO)
		WHERE POLICESTATION_SIDO LIKE #{sido}||'%' AND POLICESTATION_DONG LIKE #{dong}||'%'
	</select>
	<select id="searchReportAreaPolice2" parameterType="map" resultType="map">
		SELECT POLICE_NO,POLICE_EMAIL FROM POLICE JOIN POLICESTATION USING (POLICESTATION_NO)
		WHERE POLICESTATION_SIDO LIKE #{sido}||'%' AND POLICESTATION_GUNGU LIKE #{gungu}||'%'
	</select>
	
	<insert id="insertJoinReport" parameterType="map">
		INSERT INTO JOIN_POLICE_DECLARATION VALUES(#{reportNo},#{policeNo})
	</insert>
	
	<select id="selectReportAll" parameterType="map" resultType="map">
	select d.declaration_no, declaration_category, declaration_detail, declaration_date, 
	    (select count(*) from attacker where d.declaration_no=declaration_no) as attacker_count,
	    reporter_name, declaration_insertdate,
	    (select count(*) from declaration_attachment where d.declaration_no=declaration_no) as attach_count
	from declaration d join reporter_info r on d.reporter_no=r.reporter_no
	        join join_police_declaration jpd on d.declaration_no=jpd.declaration_no
	        join police using(police_no)
     WHERE POLICE_IDENTITY=#{policeId}
     ORDER BY declaration_insertdate desc
	</select>
	<select id="selectReportAllCount" parameterType="map" resultType="_long">
	select count(*)
	from declaration d join join_police_declaration jpd on d.declaration_no=jpd.declaration_no
	        join police using(police_no)
     WHERE POLICE_IDENTITY=#{policeId}
     ORDER BY declaration_insertdate desc
	</select>
	<select id="selectReportByNo" parameterType="_long" resultMap="declarationMap">
		SELECT * FROM JOIN_POLICE_DECLARATION 
		JOIN DECLARATION USING(DECLARATION_NO) 
		LEFT JOIN DECLARATION_ATTACHMENT USING(DECLARATION_NO)    
        LEFT JOIN ATTACKER USING(DECLARATION_NO)
        JOIN REPORTER_INFO USING(REPORTER_NO)
        WHERE DECLARATION_NO=#{no}
	</select>
	
	<update id="updatePoliceStatus" parameterType="map">
	    UPDATE DECLARATION
		    SET DECLARATION_STATUS = #{status}
	    WHERE DECLARATION_NO = #{reportNo}
	</update>
	
	<select id="selectReportByEmailAndPassword" parameterType="map" resultType="java.util.HashMap">
	    SELECT d.*, r.REPORTER_NAME, p.POLICE_NAME, p.POLICE_EMAIL, p.POLICE_GRADE
	    FROM DECLARATION d
	    JOIN REPORTER_INFO r ON d.REPORTER_NO = r.REPORTER_NO
	    LEFT JOIN JOIN_POLICE_DECLARATION jpd ON d.DECLARATION_NO = jpd.DECLARATION_NO
	    LEFT JOIN POLICE p ON jpd.POLICE_NO = p.POLICE_NO
	    WHERE r.REPORTER_EMAIL = #{email}
	    AND r.REPORTER_PASSWORD = #{password}
	</select>

	<select id="searchReporterByReportNo" parameterType="_int" resultType="map">
		select reporter_email, police_name, police_email, declaration_content from reporter_info 
            join declaration using(reporter_no) 
            join join_police_declaration using(declaration_no)
            join police using(police_no)
            where declaration_no=#{reportNo}
	</select>



</mapper>	 



