<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="police">
	<resultMap type="com.km.model.dto.Police" id="policeMap">
		<id column="police_no" property="policeNo"/>
		<result column="police_name" property="policeName"/>
		<result column="police_email" property="policeEmail"/>
		<result column="police_grade" property="policeGrade"/>
		<result column="police_profile" property="policeProfile"/>
		<result column="police_identity" property="policeIdentity"/>
		<result column="police_log" property="policeLog"/>
		<result column="police_phone" property="policePhone"/>
		<result column="policestation_no" property="policeStationNo"/>
		<result column="police_password" property="policePassword"/>
	</resultMap>
	
	<select id="selectPoliceById" resultMap="policeMap" parameterType="string">
		SELECT * FROM POLICE WHERE POLICE_IDENTITY=#{id}
	</select>
	
	<insert id="insertPolice" parameterType="police">
	    INSERT INTO POLICE (
	        POLICE_IDENTITY,
	        POLICE_PASSWORD,
	        POLICE_NAME,
	        POLICE_EMAIL,
	        POLICE_NO,
	        POLICE_GRADE,
	        POLICE_PROFILE,
	        POLICE_LOG,
	        POLICESTATION_NO
	    ) VALUES (
	        #{policeIdentity},
	        #{policePassword},
	        #{policeName},
	        #{policeEmail},
	        NULL, 
	        NULL, 
	        NULL,  
	        NULL, 
	        NULL  
	    )
	</insert>

	<select id="selectPoliceAll" resultType="map">
		SELECT police_identity, police_name, police_grade, police_profile, 
		policestation_name, police_log FROM POLICE JOIN POLICESTATION USING(policestation_no)
	</select>	
	
	<select id="findIdPw" parameterType="String" resultMap="policeMap">
	    SELECT * FROM police WHERE police_email = #{police_email}
	</select>

		
</mapper>