<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="police">
	<resultMap type="com.km.model.dto.Police" id="policeMap">
		<id column="police_no" property="policeNo"/>
		<result column="police_name" property="policeName"/>
		<result column="police_email" property="policeEmail"/>
		<result column="police_grade" property="policeGrade"/>
		<result column="police_profile" property="policeProfile"/>
		<result column="police_identity" property="policeIdentity"/>
		<result column="police_log" property="policeLog"/>
		<result column="police_phone" property="policePhone"/>
		<result column="policestation_no" property="policeStationNo"/>
		<result column="police_password" property="policePassword"/>
	</resultMap>
	
	<resultMap type="com.km.model.dto.PoliceStation" id="policeStationMap">
		<id column="policestation_no" property="policeStationNo"/>
		<result column="policestation_name" property="policeStationName"/>
		<result column="policestation_sido" property="policeStationSido"/>
		<result column="policestation_gungu" property="policeStationGungu"/>
		<result column="policestation_dong" property="policeStationDong"/>
		<result column="policestation_address" property="policeStationAddress"/>
		<result column="policestation_phone" property="policeStationPhone"/>
		<result column="policestation_div" property="policeStationDiv"/>
		<result column="policestation_sidostation" property="policeStationSidoStation"/>
	</resultMap>
	
	
	<select id="selectPoliceById" resultMap="policeMap" parameterType="string">
		SELECT * FROM POLICE WHERE POLICE_IDENTITY=#{id}
	</select>
	
	<select id="selectPoliceStationByName" resultMap="policeStationMap" parameterType="string">
		SELECT * FROM POLICESTATION WHERE POLICESTATION_NAME=#{name}
	</select>
	
	<select id="selectPoliceByEmail" resultMap="policeMap" parameterType="String">
		SELECT * FROM POLICE WHERE POLICE_EMAIL=#{email}
	</select>
	
	<insert id="insertPolice" parameterType="police">
	    INSERT INTO POLICE (
	        POLICE_IDENTITY,
	        POLICE_PASSWORD,
	        POLICE_NAME,
	        POLICE_EMAIL,
	        POLICE_NO,
	        POLICE_GRADE,
	        POLICE_PHONE,
	        POLICE_LOG,
	        POLICESTATION_NO,
	        POLICE_PROFILE
	    ) VALUES (
	        #{policeIdentity},
	        #{policePassword},
	        #{policeName},
	        #{policeEmail},
	       	SEQ_POLICE_NO.NEXTVAL, 
	        #{policeGrade}, 
	        #{policePhone},
	        SYSDATE,
	        #{policeStationNo},
	        #{policeProfile}

	    )
	</insert>
	
	<insert id="insertPoliceStation" parameterType="policeStation">
		INSERT INTO POLICESTATION (
			POLICESTATION_NO,
			POLICESTATION_NAME,
			POLICESTATION_SIDO,
			POLICESTATION_GUNGU,
			POLICESTATION_DONG,
			POLICESTATION_ADDRESS,
			POLICESTATION_DIV,
			POLICESTATION_SIDOSTATION
		) VALUES (
			SEQ_POLICESTATION_NO.NEXTVAL,
			#{policeStationName},
			#{policeStationSido},
			#{policeStationGungu},
			#{policeStationDong},
			#{policeStationAddress},
			#{policeStationDiv},
			#{policeStationSidoStation}	
		)
	</insert>
	

	<select id="selectPoliceAll" resultType="map">
		SELECT police_identity, police_name, police_grade, police_profile, 
		policestation_name, police_log FROM POLICE JOIN POLICESTATION USING(policestation_no)
	</select>	
	
	<select id="findIdPw" parameterType="String" resultMap="policeMap">
	    SELECT * FROM police WHERE police_email = #{police_email}
	</select>

	<update id="updatePolicePassword" parameterType="map">
		UPDATE POLICE
	    SET POLICE_PASSWORD = #{password}
	    WHERE POLICE_EMAIL = #{email}
	</update>
	
	<update id="updatePoliceLog" parameterType="map">
		UPDATE POLICE
		<set>
			<if test="flag eq 'in'">
				POLICE_LOG=SYSTIMESTAMP
			</if>
			<if test="flag eq 'out'">
				POLICE_LOG=NULL
			</if>
		</set>
		WHERE POLICE_IDENTITY=#{id}
	</update>
	
		
</mapper>