<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	
	<resultMap type="com.km.model.dto.Contact" id="ContactMap">
		<id column="QNA_NO" property="seq"/>
		<result column="QNA_TITLE" property="title"/>
		<result column="QNA_CONTENT" property="contactContent"/>
		<result column="QNA_WRITER" property="writer"/>
		<result column="QNA_DATE" property="dateTime"/>
		<result column="QNA_REPLY" property="response"/>
	</resultMap>
	
	<select id="selectAllBoard" resultMap="ContactMap">
	    SELECT * FROM qna
	</select>
	
	<select id="findByIdSeq" parameterType="int" resultMap="ContactMap">
        SELECT * FROM qna WHERE QNA_NO = #{seq}
    </select>
    
    <insert id="insertContact" parameterType="String">
    	INSERT INTO qna (QNA_TITLE, QNA_WRITER, QNA_CONTENT)
    	VALUES(#{title}, #{writer}, #{contactContent})
    </insert>

	
</mapper>